$danger-color: red;
$warning-color: #ffed00;
$dark-color: #000;
$light-color: #ffffffff;
$font-weights: (
  "regular": 400,
  "meduim": 500,
  "bold": 700
);
$margins: (
  "top": 8%,
  "bottom": 5%
);
$margins-desktop: (
  "top": 3%,
  "bottom": 2%
);
$desktop: 65.625em;
